<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="security.mapper.UserInfoMapper">

    <resultMap id="userMap" type="security.model.UserInfo">
        <result column="authorities" property="authorities" typeHandler="security.config.GrantedAuthorityHandler"/>
    </resultMap>

    <select id="selectUserByName" resultMap="userMap">
        select * from user where username = #{username} and deleted=#{deleted}
    </select>
    <select id="selectAllUser" resultType="security.model.UserInfo">
        select * from user
    </select>
</mapper>
